* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body {
    color: #EAEAEA;
    transition: margin-left .5s;
}

/*
#form_container_bg {
    background: url(/images/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 150%;
    width: 100%;
    position: absolute;
    z-index: 0;
}
*/

#form_container_bg_bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background: rgba(0, 0, 0, 0.50);
    top: 0;
}

#hero {
    position: relative;
    height: 750px;
    width: 100%;
    margin: auto;
    background: url(images/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: 0;
}

#sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 260px;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable */
    display: none;
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidenav #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

header {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
    background-color: #5c96c1;
    height: 67.5px;
}

header #header {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#header #h_logo {
    width: 275px;
    height: 100%;

}

#header #h_logo img {
    width: 100%;
    height: 67.5px;
}

#header #h_menu {
    display: grid;
    justify-content: flex-end;
    width: 100%;
    margin: auto;
}

#header #h_menu nav ul {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr .8fr 1fr;
    justify-content: center;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
}

#header #h_menu nav ul li {
    display: grid;
    justify-content: flex-end;
}

#header #h_menu nav ul li span {
    position: relative;
    top: 0;
    right: 0;
}

#header #h_menu nav ul li:hover {
    color: #bfbfbf;
    transition: .2s ease-in-out;
}

#icon {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#hamburger {
    width: 30px;
    position: absolute;
    background-color: #EAEAEA;
    height: 2px;
    top: 25%;
    right: 0;
    box-shadow: 0px -.5px .5px .5px #313131;
}

#hamburger:before,
#hamburger:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #EAEAEA;
    width: 30px;
    left: 0;
    box-shadow: 0px -.5px .5px .5px #313131;
}

#hamburger:before {
    top: -10px;
}

#hamburger:after {
    top: 10px;
}

#header #h_menu nav ul li:nth-of-type(4) {
    display: none;
}


@media(max-width: 1540px) {
    header #header {
        width: 90%;
    }
}


@media(max-width: 1340px) {
    header #header {
        width: 90%;
    }
}

@media(max-width: 1040px) {
    #header #h_menu nav ul {
        width: 100%;
        grid-gap: 33px;
    }
}

@media(max-width: 940px) {
    #header #h_menu nav ul li {
        display: none;
    }

    header #header {
        width: 90%;
    }

    #header #h_menu nav ul li:nth-of-type(4) {
        display: inline-block;
    }
}

#form_container_1 {
    display: grid;
    grid-template-columns: ;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
}

#hero #form_text {
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
    position: relative;
    text-align: center;
}

#hero #form_text h1 {
    font-size: 42px;
    margin-bottom: 7.5px;
    line-height: 52.5px;
    font-weight: 100;
    font-weight: 00;
}

#hero #form_text h2 {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    line-height: 37.5px;
    font-weight: 700;
}

#form_container_1 form .slider {
    width: 100%;
}

#form_container_1 #form_name_fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: stretch;
}

#form_container_1 #form_name_fields input {
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: rgb(255, 254, 254);
    border-radius: 5px;
    border: none;
    color: #414141;
}

#form_container_1 #form_name_fields input::placeholder {
    color: #9a9a9a;
}

#form_container_1 .form__fields {
    display: grid;
    grid-template-columns: .4fr 1fr;
    width: 100%;
    margin: auto;
}

/*range decoration*/

/*range decoration*/

/*range decoration*/

#form_container_1 .form__fields .form_input_field input[type=range] {
    cursor: default;
    padding: 7.5px 0px;
    /* vs initial */
}

.slider {
    -webkit-rtl-ordering: logical;
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    color: #EAEAEA;
    /* Full-width */
    height: 10px;
    /* Specified height */
    background: rgba(211, 211, 211, 0.37);
    /* Grey background */
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    outline: none;
    /* Remove outline */
    opacity: ;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider::-webkit-slider-runnable-track {}

/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ffffff;
    cursor: pointer;
    width: 32.5px;
    /* Set a specific slider handle width */
    height: 32.5px;
    /* Slider handle height */
    background: #ffffff;
    /* 
    Green background */
    color: #EAEAEA;
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 5px;
    transition: .3s ease;
}

.slider::-webkit-slider-thumb::before {
    position: absolute;
    width: 1px;
    background-color: #EAEAEA;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #EAEAEA;
    /* Green background */
    color: #EAEAEA;
    cursor: pointer;
    /* Cursor on hover */
}

/*
input[type=range]:focus {
  outline: none;
}
*/

/*range decoration*/

/*range decoration*/

/*range decoration*/

#form_container_1 #form_occurence {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 20px;
    position: relative;
}

#form_container_1 #form_occurence button {
    display: grid;
    justify-self: center;
    width: 100%;
    height: 50px;
    font-size: 12px;
    background-color: rgba(64, 64, 64, 0.47);
    color: white;
    border: 2px solid;
    border-radius: 5px;
}

#form_container_1 #form_occurence button.active {
    background-color: #5c96c1;
}

#form_container_1 #form_occurence .form_percentage {
    display: grid;
    grid-template-rows: 1fr .5fr;
    text-align: center;
}

#form_container_1 #form_occurence .form_percentage span {
    align-self: center;
    font-size: 14px;
}

/*
#form_container_1 #form_occurence button:hover {
    background-color: #5c96c1;
    transition: all .3s ease-in-out;
}
*/

#form_container_1 #submit {
    width: 100%;
}

#form_container_1 #submit button {
    width: 100%;
    font-size: 19px;
    padding: 20px;
    background-color: #EAEAEA;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#form_container_1 #submit button:hover {
    background-color: #5c96c1;
    color: #EAEAEA;
    transition: .3s ease;
}

/*#5c96c1*/

/*margin spacing for hero*/

#hero #form_text {}

#hero #form_text h1 {

    margin-top: 75px;
    margin-bottom: 25px;
}

#hero #form_text h2 {
    margin-bottom: 25px;
}

#form_container_1 #form_name_fields {
    margin-bottom: 25px;
}

#form_container_1 .form__fields {
    margin-top: 50px;
}

#form_container_1 #form_occurence {
    margin-top: 37.5px;
}

#form_container_1 #submit {
    margin-top: 25px;
}

/*margin spacing for hero*/

/*
#75c4ff
*/

#how_it_works {
    position: relative;
    height: 775px;
    max-width: 1200px;
    margin: auto;
    margin-top: 75px;
    z-index: 1;
    /*had overflow:hidden and clear:both here... it blocked the bottom of my bottom botton... don't know why*/

}

#how_it_works #how_it_works_title h1 {
    background-color: white;
    color: black;
    text-align: center;
    margin-bottom: 50px;
    color: #2b2b2b;
}

#how_it_works_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    grid-gap: 50px;
    width: 100%;
    margin: auto;
}

.how_it_works_section {
    width: 100%;
    height: 100%;
    position: relative;
}

.how_it_works_section .how_it_works_img {
    height: px;
    position: relative;
    border-radius: 50px;
    height: 100%;

}

.how_it_works_section .how_it_works_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.how_it_works_section .how_it_works_explanation {
    background-color: #f2f2f2;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin-top: 177.5px;
    color: black;
    clear: both;
    height: 100%;
}

.how_it_works_section:nth-of-type(2) .how_it_works_explanation {
    height: 387.5;
    max-height: ;
}

.how_it_works_section .how_it_works_text {
    z-index: 1;
    color: black;
    text-align: center;
    font-size: 12px;
    color: #4a4a4a;
    margin-top: 35px;
    font-weight: 0;
    height: 100%;
}

.how_it_works_section .how_it_works_text h1 {}

.how_it_works_section .how_it_works_text p {
    margin-top: 16.25px;
    font-size: 18px;
    font-weight: 100;
    padding: 10px 15px;
}

#how_it_works .how_it_works_submit {
    text-align: center;
    position: relative;
    height: 50px;
}

#how_it_works .how_it_works_submit input[type="button"] {
    padding: 10px;
    width: 375px;
    height: 50px;
    background-color: #5c96c1;
    color: white;
    margin-top: 250px;
    margin-bottom: 75px;
    border: none;
    z-index: ;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

#about {
    position: relative;
    height: 1050px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    clear: both;
    margin-top: 62.5px;
    margin-bottom: px;
    background-color: ;

}

#about_bg {
    height: 100%;
    width: 100%;
    background: url(images/bg.jpg);
    background-size: cover;
    position: absolute;

}

#about_bg_ol {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 102, 159, 0.61);
    z-index: 1;
}

#about #about_main {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
    color: whitesmoke;
    text-align: center;
    top: 0;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}


#about #about_sections {
    z-index: 2;
    width: 1200px;

    /* 70% as in 70% of the absolute div */
    margin: auto;
    margin-top: 67.5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 75px;
}

#about #about_sections .about_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr .1fr;
    width: 100%;
    z-index: 1;
    position: relative;
    grid-row-gap: 25px;
    height: ;
}

#about .about_section .about_img {
    width: 30%;
    margin: auto;
    font-weight: 100;
}

#about .about_section .about_img img {
    width: 100%;
}

#about .about_section .about_title {
    font-weight: bold;
    letter-spacing: .1px;
    margin-top: 12.5px;
}

#about .about_section .about_desc {
    letter-spacing: .2px;
    width: 75%;
    margin: auto;
    line-height: 25px;
}

#about #learn_more {
    color: white;
}

#about #learn_more input {
    padding: 10px;
    width: 375px;
    height: 50px;
    background-color: transparent;
    color: white;
    margin-top: 75px;
    margin-bottom: 75px;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

#about #learn_more input:hover {
    border: 1px solid #8b8b8b;
    color: #8b8b8b;
    transition: .3s ease;
}

/*  time
    shield
    value
    green-tea
    chat
    security
*/

#mobile {
    height: 700px;
    max-width: 1200px;
    margin: auto;
}

#mobile #mobile_img {
    margin-top: 100px;
    justify-self: flex-end;
}

#mobile #mobile_img img {
    height: 500px;
}

#mobile #mobile_desc {
    align-self: center;
    color: #2b2b2b;
}

#mobile #mobile_desc h1 {
    font-size: 48px;
    font-weight: 100;
    line-height: 70px;
}

#mobile #mobile_desc p {
    margin-top: 20px;
    line-height: 25px;
    font-size: 19px;
    font-weight: 100;
}

#mobile {
    display: grid;
    grid-template-columns: .4fr .6fr;
}

#testimonials {
    height: 1050px;
    position: relative;
    width: 100%;
}

#testimonials_bg {
    background: url(images/testimonial_4.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

#testimonials_bg_bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
    

#testimonials_content_wrap h1 {
    font-weight: 100;
    font-size: 42px;
    text-align: center;
    padding-top: 50px;
}

#testimonials_content_wrap {
    position: relative;
    max-width: 950px;
    margin: auto;
}

/* begin screen slider */

#testimonials_content {
    margin-top: 50px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#testimonials_content #testimonials_content_sliders {
    position: relative;
    width: 300%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 10px;
}

#testimonials_content .testimonials_section {
    justify-self: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.29);
    padding: 20px;
    margin-left: 25px;
}

#testimonials_content .testimonials_section .testimonials_text {
    font-family: 'Helvetica';
    font-weight: 700;
    position: relative;
    word-break: break-all;
}



#testimonials_content .testimonials_section .testimonials_text blockquote p {
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 16px;
    padding: 0px 50px 25px 50px;
    line-height: 25px;

}

#testimonials_content .testimonials_section blockquote {
    position: relative;
}

/* end screen slider */

/* block quotes */

#testimonials_content .testimonials_section blockquote {
    font-family: georgia sans;
    quotes: "\201C""\201D""\2018""\2019";
    height: 100%;
    width: 100%;

}

#testimonials_content .testimonials_section blockquote:before {
    color: rgb(255, 255, 255);
    content: open-quote;
    font-size: 5em;
    line-height: 0.1em;
    margin-right: .2em;
    vertical-align: -0.4em;
    position: absolute;
    padding-top: 20px;
    left: 0;
}

#testimonials_content .testimonials_section blockquote:after {
    color: rgb(255, 255, 255);
    content: close-quote;
    font-size: 5em;
    line-height: 0.1em;
    margin-right: 0em;
    margin-left: .2em;
    vertical-align: -.75em;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*835de21136f9bb5f94565923f54798a7
*/


/* block quotes */
